# VS Code
.vscode

# C++ Files
*.swp
*.o

# Project specific
modelo
pli-solver
bnb
heur

# LaTeX
relatorio/*.log
relatorio/*.aux
relatorio/*.pdf
relatorio/*.fdb_latexmk
relatorio/*.fls
relatorio/*.gz
